.header {
  border-bottom-style: ridge;
}

.logo {
  max-width: 400px;
  max-height: 400px;
}
.tab {
  overflow: hidden;
  background-color: dimgrey;
  width: 100%;
}
.tablinks {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.tablinks:hover {
  background-color: grey;
}

.tabcontent {
  display: none;
  padding: 20px;
  outline-style: outset;
  outline-color: DarkSlateGray;
  max-width: 600px;
  margin: auto;
}
