.header {
  padding-bottom: 10px;
}

 .body {
   margin-left: 90px;
 }

 .flash {
   color: Red;
   margin-left: 90px;
 }

.logo {
  max-width: 400px;
  max-height: 400px;
}

.auth_tbl {
  width: 40%;
  margin: auto;
  padding: 10px;
  border: none;
  background-color: MintCream;
}

.txt_field {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: Black;
  border-bottom-width: 1px;
  background-color: inherit;
}

.txt_field:focus {
  outline: none;
  background-color: inherit;
}

.basic {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: MintCream;
  min-height: 120px;;
  width: 70%;
  margin: auto;
  text-align: center;
}
.tab {
  overflow: hidden;
  background-color: CadetBlue;
  width: 100%;
}
.tablinks {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  display: block;
}

.tablinks:hover {
  background-color: Aqua;
}

.tabcontent {
  display: none;
  padding: 20px;
  border-style: outset;
  border-color: DarkSlateGray;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

.msg {
  border-top: outset;
  border-bottom: outset;
  border-color: DarkSlateGray;
}

.msg_head {
  border-bottom: solid;
  border-width: 5px;
  border-color: CadetBlue;
}

.msg_entry {
  border-bottom: groove;
}

.check {
  font-size:12px;
  border: none;
  background-color: White;;
  float: right;
  display: block;
}

.member{
  border-style: inset;
  border-width: 4px;
  padding: 5px;
}

.icon-bar {
  width: 90px;
  background-color: CadetBlue;
  margin: 0;
  padding: 0;
  height: auto;
  position: fixed;
  overflow: auto;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: Aqua;
}

.active {
  background-color: #4CAF50;
}

/* *** buttons live here *** */
.btn {
  background-color: White;
  cursor: pointer;
  border: none;
  display: inline-block;
}

.ad_icons {
  display: inline-block;
  float: right;
}

.indxbtn {
  background-color: Green;
  color: White;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  width: 150px;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.indxbtn:hover {
  background-color: DarkGreen;
}
.authbtn {
  background-color: Green;
  color: White;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}

.authbtn:hover {
  background-color: DarkGreen;
}

.delbtn {
  border-style: none;
  color: White;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: Red;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px
}

.paidbtn {
  border-style: none;
  color: White;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: Green;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px
}

.pending_panel {
  border-style: outset;
  border-color: CadetBlue;
  padding: 10px;
}

.pending_cont {
  border-bottom-style: dashed;
  padding: 5px;
}

.group_drop {
  position: relative;
  display: inline-block;
  background-color: CadetBlue;
  color: White;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.group_drop_content {
  display: none;
  position: absolute;
  background-color: DarkSlateGray;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

.gdc_element:hover {
  background-color: Aqua;
}

.group_drop:hover .group_drop_content {
  display: block;
}

.group {
  border-style: outset;
  border-color: CadetBlue;
  min-height: 300px;
  min-width: 300px;
}

.group_content {
  display: none;
}

.smalllink {
  color: DeepSkyBlue;
  font-size: 12px;
}
