<!doctype html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title>
  {% block title %}{% endblock %} - BillShare
</title>
</head>
    <div class="w3-container w3-flat-silver w3-round-large">
      <div class="w3-left w3-xxlarge w3-text-green">
        <a class="" href="{{ url_for('index') }}">BillShare</a>
      </div>
      <div class="w3-right">
        {% if g.user %}
          {{ g.user['username'] }}
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </div>
    </div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div style="color:red;" class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
