{% extends 'base.html' %}

{% block title %}Log In{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<table class="auth_tbl">
  <form method="post">
    <tr>
      <td>
        <label for="username">Username: </label>
      </td>
      <td>
        <input class="txt_field" name="username" placeholder=" Enter Username" id="username" required autofocus>
      </td>
      </tr>
    <tr>
      <td>
        <label for="password">Password: </label>
      </td>
      <td>
        <input class="txt_field" type="password" name="password" placeholder=" Enter Password" id="password" required>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right;">
        <button class="authbtn" type="submit" value="login" >
          Log In
        </button>
      </td>
  </tr>
  </form>
</table>
  <a class="smalllink" href="{{ url_for('auth.register') }}"> Or Register A New Account </a>
{% endblock %}
