{% extends 'base.html' %}
{% block title %}Register {% endblock %}
{% block header %}
<h2>Register A New Account</h2>
{% endblock %}

{% block content %}
<table class="w3-border w3-flat-concrete w3-center" style="margin: auto; width: 40%; padding: 10px;">
  <form method="post">
    <tr>
      <td>
        <label for="username">Username:</label>
      </td>
      <td>
        <input name="username" placeholder="Enter Username" id="username" autofocus required>
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">Password:</label>
      </td>
    <td>
      <input type="password" name="password" placeholder="Enter Password" id="password" required>
    </td>
  </tr>
  <tr>
    <td rowspawn="2">
      <button type="submit" value="register" class="w3-btn w3-round-xxlarge w3-white w3-border w3-border-green">
        Register
      </button>
    </td>
  </tr>
  </form>
</table>
{% endblock %}
