{% extends 'base.html' %}
{% block title %}Register {% endblock %}
{% block header %}
<h2>Register A New Account</h2>
{% endblock %}

{% block content %}
<table class="auth_tbl">
  <form method="post">
    <tr>
      <td>
        <label for="username">Username:</label>
      </td>
      <td>
        <input class="txt_field" name="username" placeholder=" Enter Username" id="username" autofocus required>
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">Password:</label>
      </td>
    <td>
      <input class="txt_field" type="password" name="password" placeholder=" Enter Password" id="password" required>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:right;">
      <button class="authbtn" type="submit" value="register">
        Register
      </button>
    </td>
  </tr>
  </form>
</table>
<br>
<a class="smalllink" style="width:40%; margin:auto" href="{{ url_for('auth.login') }}"> Or Log In To Your Account </a>
{% endblock %}
