{% extends 'base.html' %}

{% block header %}
  {% block title %}
  Add Bill
  {% endblock %}
{% endblock %}
<p>
<p>
{% block content %}
{% block sidebar %}{{ super() }}{% endblock %}
<div class="body">
  <div class="basic">
    <form method="post" style="padding-top:30px;">
      <label for="total">Total Due</label>
      <input class="txt_field" type="number" step=.01 name="total" id="total" required>
      <br>
      <label for="posted">Date Posted</label>
    	<input class="txt_field" type="date" name="posted" id="posted">
      <br>
    	<label for="due">Due Date</label>
      <input class="txt_field" type="date" name="due" id="due" required>
      <br>
      <input type="submit" value="Submit">
  </div>
</div>
{% endblock %}
