{% extends 'base.html' %}

<{% block title %}Home{% endblock %}
{% block content %}
{% block sidebar %}{{ super() }}{% endblock %}
<div class="body">
  <div class="tab">
    {% for gr in groups %}
      {% if gr.name == 'Default' %}
      <button class="tablinks" onclick="openGroup('{{ gr.name }}', this)" id="defaultOpen"> {{gr.name }} </button>
      {% else %}
      <button class="tablinks" onclick="openGroup('{{ gr.name }}', this)"> {{gr.name }} </button>
      {% endif %}
    {% endfor %}
    <button class="tablinks">
      <a href=" {{url_for('user.addgroup', username=g.user['username']) }}">New Group</a>
    </button>
  </div>

  {# Bills Portion #}

  {% for gr in groups %}
  <div id="{{ gr.name }}" class="tabcontent" >
    <h2> {{ gr.name }} </h2>
    <span>
      <a class="smalllink" href="{{ url_for('user.addtopic', username=g.user['username'], group_id=gr.group_id) }}">
        Add New Category To {{ gr.name }}
      </a>
    </span>
    <br>
    {% for c in cat %}
      {% if c.group_id == gr.group_id %}
        <h2>{{ c.topic }}</h2>
  		  <table class="w3-table w3-bordered">
  			{% for b in bills %}
  				{% if b.topic == c.topic %}
            {% if b.past_due == 0 %}
  					  <tr class="w3-pale-green">
            {% else %}
              <tr class="w3-pale-red">
            {% endif %}
            <th>Total Due: ${{ b.total }}</th>
            <th>Posted: {{ b.posted_date }}</th>
            <th>Due: {{ b.due_date }}</th>
            <th><form method="post">
              <button class="paidbtn" type="submit" name="paid" value="{{ b.bill_id }}">
                Paid
              </button></form></th>
          </tr>
          {% endif %}
  		  {% endfor %}
        </table>
      <a class="smalllink" href="{{ url_for('user.addbill', top=c.topic, username=g.user['username'], group_id=gr.group_id) }}">
        Add New Bill
      </a>
      {% endif %}
  {% endfor %}
  </div>
  {% endfor %}
<script> document.getElementById("defaultOpen").click(); </script>
{% endblock %}
