{% extends 'base.html' %}

<{% block title %}Home{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="tab">
  {% for gr in groups %}
    {% if gr.name == 'Default' %}
    <button class="tablinks" onclick="openGroup('{{ gr.name }}', this)" id="defaultOpen"> {{gr.name }} </button>
    {% else %}
    <button class="tablinks" onclick="openGroup('{{ gr.name }}', this)"> {{gr.name }} </button>
    {% endif %}
  {% endfor %}
  <button class="tablinks w3-right">
    <a href=" {{url_for('user.addgroup', username=g.user['username']) }}">New Group</a>
  </button>
</div>

{# Bills Portion #}

{% for gr in groups %}
<div id="{{ gr.name }}" {% if gr.name == 'Default' %} class="tabcontentdef" {% else %} class="tabcontent" {% endif %}>
  {% if gr.name != 'Default' %}
    <a href="{{ url_for('user.groupmanagement', username=g.user['username'], group_id=gr.group_id) }}">
      <h2> {{ gr.name }} </h2>
    </a>
  {% else %}
    <h2> {{ gr.name }} </h2>
  {% endif %}
  <span>
    <a class="w3-small w3-text-blue" href="{{ url_for('user.addtopic', username=g.user['username'], group_id=gr.group_id) }}">
      Add New Category To {{ gr.name }}
    </a>
  </span>
  <br>
  {% for c in cat %}
    {% if c.group_id == gr.group_id %}
      <h2>{{ c.topic }}</h2>
		  <table class="w3-table w3-bordered">
			{% for b in bills %}
				{% if b.topic == c.topic %}
          {% if b.past_due == 0 %}
					  <tr class="w3-pale-green">
          {% else %}
            <tr class="w3-pale-red">
          {% endif %}
          <th>Total Due: ${{ b.total }}</th>
          <th>Posted: {{ b.posted_date }}</th>
          <th>Due: {{ b.due_date }}</th>
          <th><form method="post">
            <button class="w3-btn w3-border w3-border-light-green w3-round-xxlarge" type="submit" name="paid" value="{{ b.bill_id }}">
              Paid
            </button></form></th>
        </tr>
        {% endif %}
		  {% endfor %}
      </table>
    <a class="w3-small w3-text-blue" href="{{ url_for('user.addbill', top=c.topic, username=g.user['username'], group_id=gr.group_id) }}">
      Add New Bill
    </a>
    {% endif %}
{% endfor %}
</div>
{% endfor %}
<br>

{# Message Center Portion #}
<div class="msg">
  <h3 class="msg_head">Message Center</h3>
  {% for m in message %}
    <div class=msg_entry>
    <br>
    {{ m.mes }}
    <button class="check"> <i class="fa fa-check w3-green"></i></button>
    <br>
  </div>
  {% endfor %}
</div>
{% endblock %}
