{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Home{% endblock %} </h2>
{% endblock %}

{% block content %}
<a href="{{ url_for('user.addtopic') }}">New Category</a><p>
<p>
  {% for c in cat %}
    <article class="category">
      <header>
        <h1>{{ c.topic }}</h1>
      </header>
				<div class="bill">
				<p>
				{% for b in bills %}
					{% if b.topic == c.topic %}	
						Total Due: {{ b.total }} | Posted: {{ b.posted_date }} | Due: {{ b.due_date }}
            <form method="post">
              <button type="submit" name="paid" value="{{ b.bill_id }}">Paid</button>
            </form>
            <p>
					{% endif %}
				{% endfor %}
			 	<a href="{{ url_for('user.addbill', top=c.topic) }}">Add New Bill</a>
      	</div>     
    </article>
    {% endfor %}
{% endblock %}
